Привет, Антон !

Меня зовут Миша, я буду ревьюером твоей работы. Давай будем общаться на "ты".

Работа начата хорошо, но не завершена. Однако уже есть несколько моментов, которые следует исправить.  

Пожалуйста, не перемещай, не изменяй и не удаляй мои комментарии. Они помогут мне выполнить повторную проверку твоего проекта быстрее.

Жду обновлённой версии проекта!

Мои комменатрии выделены разными цветами:

<div class="alert alert-danger">
Красным цветом выделены недочёты, на которые обязательно нужно обратить внимание. Их следует исправить в твоей работе. После их доработки проект будет принят.
</div>

<div class="alert alert-warning">
Оранжевым цветом выделено то, что в следующий раз можно сделать по-другому. Ты можешь учесть эти комментарии при выполнении будущих заданий или доработать проект сейчас (однако это не обязательно).
</div>

<div class="alert alert-success">
Зеленым цветом отмечены удачные и элегантные решения, на которые можно опираться в будущих проектах.</div>

Предлагаю тебе работать в диалоге, поэтому если ты что-то меняешь в проекте по моим рекомендациям — пиши об этом в своих комментариях.
<div class="alert alert-info">
Комментарий студента выделяется синим цветом. </div>

# Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

## Шаг 1. Откройте файл с данными и изучите общую информацию

In [1]:
import pandas as pd
df = pd.read_csv('/datasets/data.csv')
df.head(10)

df.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

<div class="alert alert-warning">
<b> Комментарий ревьюера <a class="tocSkip"> </b>

Использовать print() для вывода необязательно. Можно просто обратиться к первым строкам датасэта, используя bank.head(). И визуальное отображение даже будет лучше. Рекомендую везде далее в коде внести это исправление.

<div class="alert alert-success">
<b> Комментарий ревьюера <a class="tocSkip"> </b>

Можно усилить анализ, используя ещё метод [describe](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)
    
А количество пропущенных значений можно посмотреть, например, так:

    bank.isna().sum()

**Вывод**

В файле представлено три таблицы с данными.

## Шаг 2. Предобработка данных

### Обработка пропусков

In [2]:
print(df.isnull().sum())
df['days_employed'] = df['days_employed'].fillna(0)
df["total_income"] = df.groupby("income_type")['total_income'].transform(lambda x: x.fillna(x.median()))
print(df.isnull().sum())

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64
children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

<div class="alert alert-danger">
<b> Комментарий ревьюера <a class="tocSkip"> </b>

Ты почти справился. Можно использовать метод fillna(). И группировать не по доходу (там будет слишком много разных значений), а по виду занятости.
    
    bank['total_income']= bank['total_income'].fillna(bank.groupby('income_type')['total_income'].transform('median'))

<div class="alert alert-danger">
<b> Комментарий ревьюера <a class="tocSkip"> </b>

Этот код и код дальше у меня не воспроизвёлся. Очевидно, ты не доделал проект до конца. Возможно, по ошибке была направлена не та версия файла.
    
Жду проект на повторную проверку!
    
<div class="alert alert-info">
Привет Миша. Я так понимаю что я сделал все тут правильно, если коментариев v2 нет? </div>

<div class="alert alert-success">
<b> Комментарий ревьюера v3<a class="tocSkip"> </b>

Заполнение пропусков получилось хорошим. Я заметил, что ты сделал немного по-своему, но суть та же, замечаний у меня нет. Дни можно заполнить нулями, как это сделал ты. Это допустимое решение.
    
А по дальнейшему исполнению проекта все замечания я расписал ниже.

**Вывод**

Находим пропуски в столбцах days_employed(трудовой стаж) и total_income(ежемесячный доход). Делаем вывод что количество пропусков совпадает. Нет стажа и работы - нет заработной платы. Находим строку с пропуском, это пенсионеры. Меняем пропуски на 0.

### Замена типа данных

In [4]:
df.info()
df['days_employed'] = df['days_employed'].abs() #меняем знак на положительный
df['days_employed'] = df['days_employed'].astype('int') #меняем на целые числа
df['total_income'] = df['total_income'].astype('int') #меняем на целые числа
df['education'].value_counts()
df['education']=df['education'].astype(str).str.lower() #делаем все слова строчными буквами
df['family_status']=df['family_status'].astype(str).str.lower() #делаем все слова строчными буквами
df.loc[df['days_employed'] > ((df['dob_years']-18)*365), 'days_employed'] =  ((df['dob_years']-18)*21*11)
df['education'].value_counts()
df.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья
1,1,4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля
2,0,3465,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья
3,3,4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование
4,0,8085,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу
5,0,926,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья
6,0,2879,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем
7,0,152,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование
8,2,3927,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы
9,0,2188,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи
10,2,4171,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости
11,0,792,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости
12,0,0,65,среднее,1,гражданский брак,1,M,пенсионер,0,118514,сыграть свадьбу
13,0,1846,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля
14,0,1844,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости
15,1,972,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости
16,0,1719,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость
17,0,2369,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости
18,0,8085,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля
19,0,10038,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля

In [5]:
df['children'].value_counts()
df['children'] = df['children'].abs()
df.loc[df['children'] == 20, 'children'] = 2
df['children'].value_counts()

0    14149
1     4865
2     2131
3      330
4       41
5        9
Name: children, dtype: int64

<div class="alert alert-success">
<b> Комментарий ревьюера v3<a class="tocSkip"> </b>

Согласен с исправлением ошибок.

In [6]:
df['dob_years'].value_counts() #нашли возраст 0
df['dob_years'].mean() #средний возраст
df.loc[df['dob_years'] == 0, 'dob_years'] = 43 #меняем 0 на средний возраст
df['dob_years'].value_counts()

35    617
43    614
40    609
41    607
34    603
38    598
42    597
33    581
39    573
31    560
36    555
44    547
29    545
30    540
48    538
37    537
50    514
32    510
49    508
28    503
45    497
27    493
56    487
52    484
47    480
54    479
46    475
58    461
57    460
53    459
51    448
59    444
55    443
26    408
60    377
25    357
61    355
62    352
63    269
64    265
24    264
23    254
65    194
66    183
22    183
67    167
21    111
68     99
69     85
70     65
71     58
20     51
72     33
19     14
73      8
74      6
75      1
Name: dob_years, dtype: int64

<div class="alert alert-success">
<b> Комментарий ревьюера v3<a class="tocSkip"> </b>

43 - это грубовато. Можно было бы взять средний возраст по типу занятости, например =) Но в целом, твоё решение принимается.

In [7]:
df['gender'].value_counts()
df = df[df['gender'] != 'XNA'] #так как выбивается одно значение, удаляем строку.
df['gender'].value_counts()

F    14236
M     7288
Name: gender, dtype: int64

<div class="alert alert-success">
<b> Комментарий ревьюера v3<a class="tocSkip"> </b>

Согласен, можно удалить.

**Вывод**

В столбце days_employed мы убираем отрицательные значения и числа делаем целыми. Видим что у нас некоторые значения рабочих дней привышают жизнь людей. Меняем значение: их вохраст - 18 лет * 21 день в месяц * 11 месяцев. Так же делаем целые числа в столбце total_income. В столбцах где потребовалось, делаем все буквы строчными буквами.

<div class="alert alert-success">
<b> Комментарий ревьюера v2<a class="tocSkip"> </b>

Метод str.lower() для проверки на дубликаты - отличный.

<div class="alert alert-warning">
<b> Комментарий ревьюера v2<a class="tocSkip"> </b>

Не стесняйся дробить свой код на отдельные ячейки. Чем больше таких ячеек с промежуточным выводом результата , тем понятнее проект заказчику. Дальше в проекте также рекомендую все подзадачи выполнить в отдельных ячейках.   
    
(вручную переписывать получившийся результат под кодом не стоит)

<div class="alert alert-danger">
<b> Комментарий ревьюера v2<a class="tocSkip"> </b>

Тут еще имеет смысл пройтись по всем колонкам датасэта и посмотреть там уникальные значения, чтобы найти ошибки в данных. Для этого используй методы .value_counts() и .unique()
    
Подсказка: есть странные значения возраста, количества детей и пола

<div class="alert alert-success">
<b> Комментарий ревьюера v3<a class="tocSkip"> </b>

Ок, вижу, что ты это сделал. Молодец!

### Обработка дубликатов

In [8]:
print(df.duplicated().sum())
df = df.drop_duplicates().reset_index(drop = True)
print(df.duplicated().sum())

71
0

<div class="alert alert-success">
<b> Комментарий ревьюера v2<a class="tocSkip"> </b>

Здорово, что проверка на дубликаты выполнена после приведения всех сведений об образовании к одному регистру. Иначе было бы гораздо меньше дубликатов.

**Вывод**

Мы убрали все дубликаты.

### Лемматизация

In [9]:
from pymystem3 import Mystem
from collections import Counter
m = Mystem()


#purpose_df = ' '.join(df['purpose'])
#lemmas = m.lemmatize(purpose_df)
#print(lemmas)
#from collections import Counter
#Counter(lemmas)

def add_purpose(row):
    try:
        lemma = m.lemmatize(row['purpose'])
        if 'автомобиль' in lemma:
            return 'автомобиль'
        if 'свадьба' in lemma:
            return 'свадьба'
        if 'жилье' in lemma:
            return 'недвижимость'
        if 'образование' in lemma:
            return 'образование'
        if 'недвижимость' in lemma:
            return 'недвижимость'
    except:
        return 'ошибка'
    
df['purpose_cat'] = df.apply(add_purpose, axis = 1)

print(df['purpose_cat'].value_counts())

недвижимость    10810
автомобиль       4306
образование      4013
свадьба          2324
Name: purpose_cat, dtype: int64

**Вывод**

Обеденил весь столбец в список и провел Лематизацию.

<div class="alert alert-danger">
<b> Комментарий ревьюера v2<a class="tocSkip"> </b>

Тут можно написать функцию, которая будет проверять лемматизированный текст, в зависимости от того, какие в этом тексте есть слова. А затем можно эту функцию применить к датафрейму. Тогда получится новый столбец с категориями целей. Подсказка: можно выделить 4-5 целей. После проведения категоризации по леммам проверь результат, используя .value_counts()

    def add_purpose(row):
        try:
            lemma = m.lemmatize(row['purpose'])
            if 'автомобиль' in lemma:
                return 'автомобиль'
            if 'свадьба' in lemma:
                return 'свадьба'
        ... ещё категории, которые ты выделишь ...   
        
            if 'жилье' in lemma:
                return 'недвижимость'
        except:
            return 'ошибка'
    
    data['purpose_cat'] = data.apply(add_purpose, axis = 1)

<div class="alert alert-success">
<b> Комментарий ревьюера v3<a class="tocSkip"> </b>

Лемматизация теперь принята.

### Категоризация данных

In [10]:
education_df = df[['education','education_id']]
education_df = education_df.drop_duplicates().reset_index(drop=True)
education_df

             education  education_id
0               высшее             0
1              среднее             1
2  неоконченное высшее             2
3            начальное             3
4       ученая степень             4

In [11]:
family_df = df[['family_status','family_status_id']]
family_df = family_df.drop_duplicates().reset_index(drop=True)
family_df

           family_status  family_status_id
0        женат / замужем                 0
1       гражданский брак                 1
2         вдовец / вдова                 2
3              в разводе                 3
4  не женат / не замужем                 4

In [12]:
total_income_df = pd.qcut(df['total_income'], q=3)
total_income_df = total_income_df.value_counts()
total_income_df

(119260.667, 172357.0]     7286
(20666.999, 119260.667]    7151
(172357.0, 2265604.0]      7016
Name: total_income, dtype: int64

<div class="alert alert-success">
<b> Комментарий ревьюера v3<a class="tocSkip"> </b>

Молодец, что решил попробовать qcut. Теперь три эти категории доходов можно вставить в новый столбец категорий. Ниже, в ответе на вопросы привёл пример реализации.

In [13]:
def children_stat(row):
    children_lvl = row['children']
    
    
    if children_lvl == 0:
        return 'без детей'
    if children_lvl > 0:
        return 'с детьми'

df['child'] = df.apply(children_stat, axis =1)

df_child = df.groupby('child')['debt'].agg(['count', 'sum', 'mean', lambda x: 1 - x.mean()])
df_child.columns = ['Кол-во пользователей', 'Кол-во должников', '% должников', '% НЕдолжников']
df_child.style.format({'% должников': '{:.2%}', '% НЕдолжников': '{:.2%}'})

**Вывод**

Есть 5 категорий образования и 5 категорий семейного статуса.

<div class="alert alert-danger">
<b> Комментарий ревьюера v2<a class="tocSkip"> </b>

Тут еще стоит добавить категоризацию по доходу. Можно разделить всех клиентов на 3-4 группы по уровню дохода, например, низкий-средний-высокий. Для этого можно использовать методы  [cut](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html) или [qcut](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html) (в этом случае деление будет проводиться по процентилям).

<div class="alert alert-warning">
<b> Комментарий ревьюера v2<a class="tocSkip"></b>

Рекомендую здесь же выполнить категоризацию по наличию детей. Можно написать функцию наподобие той, что у тебя написана ниже, только выделить две категории клиентов: с детьми и без детей. И эту категорию присвоить новому столбцу. А при ответе на вопрос "Есть ли зависимость между наличием детей и возвратом кредита в срок?" осуществить группировку по этому новому столбцу.

<div class="alert alert-success">
<b> Комментарий ревьюера v3<a class="tocSkip"> </b>

Ок, вижу, что основные замечания устранены.

## Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [14]:
def children_df(row):
    children_group = row['children']
    debt_group = row['debt']
    
    if children_group == 0:
        if debt_group == 0:
            return 'нет детей и нет долгов'
    if children_group == 0:
        if debt_group == 1:
            return 'нет детей но с долгами'
    if children_group > 0:
        if debt_group == 1:
            return 'есть дети и есть долги'
    if children_group > 0:
        if debt_group == 0:
            return 'есть дети и нет долгов'    
        return 'ничего нет'

df['lvl1'] = df.apply(children_df, axis =1)
print(df['lvl1'].value_counts())

нет детей и нет долгов    13027
есть дети и нет долгов     6685
нет детей но с долгами     1063
есть дети и есть долги      678
Name: lvl1, dtype: int64

<div class="alert alert-warning">
<b> Комментарий ревьюера v2<a class="tocSkip"> </b>

В целом, ответы на вопросы сделаны хорошо, но решение (это и следующие) можно написать короче, используя groupby и не используя функции. Примеры ниже. Обрати внимание на странные значения в количестве детей.

In [15]:
df_example2 = df.groupby('children')['debt'].agg(['count', 'sum', 'mean', lambda x: 1 - x.mean()])
df_example2.columns = ['Кол-во пользователей', 'Кол-во должников', '% должников', '% НЕдолжников']
df_example2.style.format({'% должников': '{:.2%}', '% НЕдолжников': '{:.2%}'})

In [16]:
df_example = df.groupby('lvl1')['debt'].agg(['count', 'sum', 'mean', lambda x: 1 - x.mean()])
df_example.columns = ['Кол-во пользователей', 'Кол-во должников', '% должников', '% НЕдолжников']
df_example.style.format({'% должников': '{:.2%}', '% НЕдолжников': '{:.2%}'})

**Вывод**

Когда есть дети всего 10% не платят в срок. Когда нет детей 8% не платят в срок.

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [17]:
df_example3 = df.groupby('family_status')['debt'].agg(['count', 'sum', 'mean', lambda x: 1 - x.mean()])
df_example3.columns = ['Кол-во пользователей', 'Кол-во должников', '% должников', '% НЕдолжников']
df_example3.style.format({'% должников': '{:.2%}', '% НЕдолжников': '{:.2%}'})

**Вывод**

Когда женат / замужем вовремя не платят 8%.
Гражданский брак вовремя не платят 10%.
Не женат / не замужем не платят вовремя 11%.
В разводе не платят вовремя 8%.
Вдовец / вдова не платят вовремя 7%.

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [18]:
def income_df(row):
    income_group = row['total_income']
    debt_group = row['debt']
    
    if 20666.999 <= income_group < 119260.667:
        return 'низкий доход'
    if 119260.667 <= income_group < 172357:
        return 'средний доход'
    if income_group >= 172357 :
        return 'высокий доход'   
    return 'ничего нет'

df['lvl3'] = df.apply(income_df, axis =1)
print(df['lvl3'].value_counts())

высокий доход    7518
низкий доход     7151
средний доход    6784
Name: lvl3, dtype: int64

<div class="alert alert-warning">
<b> Комментарий ревьюера v3<a class="tocSkip"> </b>

Тут, вижу, ты "захардкодил" граничные значения после использования метода qcut. Можно было бы этого избежать:
    
    df['income_category']= pd.qcut(df['total_income'], q = 3, labels=['низкий доход', 'средний доход', 'высокий доход']) 
    
Тогда не нужна функция по присваиванию категории. Категоризация и формирование новой колонки с категориями уместились в одну строку.

In [19]:
df_example3 = df.groupby('lvl3')['debt'].agg(['count', 'sum', 'mean', lambda x: 1 - x.mean()])
df_example3.columns = ['Кол-во пользователей', 'Кол-во должников', '% должников', '% НЕдолжников']
df_example3.style.format({'% должников': '{:.2%}', '% НЕдолжников': '{:.2%}'})

**Вывод**

Когда очень высокий доход вовремя не платят 8%.
Высокий доход вовремя не платят 9%.
Средний доход вовремя не платят 9%.
Низкий доход вовремя не платят 7%.

- Как разные цели кредита влияют на его возврат в срок?

In [20]:
df_example3 = df.groupby('purpose_cat')['debt'].agg(['count', 'sum', 'mean', lambda x: 1 - x.mean()])
df_example3.columns = ['Кол-во пользователей', 'Кол-во должников', '% должников', '% НЕдолжников']
df_example3.style.format({'% должников': '{:.2%}', '% НЕдолжников': '{:.2%}'})

**Вывод**

Чаще возвращают в срок кредиты на недвижимость. Чаще всего просрочкой платят кредит на покупку автомобиля.

<div class="alert alert-danger">
<b> Комментарий ревьюера v2<a class="tocSkip"> </b>

Для ответа на последний вопрос надо завершить категоризацию по леммам. И рекомендую использовать группировку / сводные таблицы для более быстрых результатов.

<div class="alert alert-success">
<b> Комментарий ревьюера v3<a class="tocSkip"> </b>

Всё отлично переделано! Браво!

## Шаг 4. Общий вывод

Мы узнали, что замые популярные категории для взятия кредиты это недвижимость, автомобиль, образование, покупка автомобиля и свадьба. Уровень дохода не всегда влияет на возврат кредита в срок. С низким уровнем дохода в срок не платили всего 7%. А вот когда есть дети в срок не платят больше 10%, а когда нет детей 8%. Самые просрочники это люди в статусе не женат не / не замужем это 11%, а вот вдова / вдовец показали самый низкий показатель 7%.

## Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [ ]  файл изучен;
- [ ]  определены пропущенные значения;
- [ ]  заполнены пропущенные значения;
- [ ]  есть пояснение, какие пропущенные значения обнаружены;
- [ ]  описаны возможные причины появления пропусков в данных;
- [ ]  объяснено, по какому принципу заполнены пропуски;
- [ ]  заменен вещественный тип данных на целочисленный;
- [ ]  есть пояснение, какой метод используется для изменения типа данных и почему;
- [ ]  удалены дубликаты;
- [ ]  есть пояснение, какой метод используется для поиска и удаления дубликатов;
- [ ]  описаны возможные причины появления дубликатов в данных;
- [ ]  выделены леммы в значениях столбца с целями получения кредита;
- [ ]  описан процесс лемматизации;
- [ ]  данные категоризированы;
- [ ]  есть объяснение принципа категоризации данных;
- [ ]  есть ответ на вопрос: "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [ ]  есть ответ на вопрос: "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [ ]  есть ответ на вопрос: "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [ ]  есть ответ на вопрос: "Как разные цели кредита влияют на его возврат в срок?";
- [ ]  в каждом этапе есть выводы;
- [ ]  есть общий вывод.

<div class="alert alert-success"><b> Комментарий от ревьюера v2</b>

Антон, поздравляю с выполнением первого проекта. В целом, всё сделано хорошо! 

Основные замечания связаны с обнаружением ошибок в данных и с категоризацией. (см. мои комментарии в красных ячейках с индексом v2). 
    
Если будут вопросы - смело задавай их мне в следующей итерации проекта. Я постараюсь оперативно на всё ответить и подсказать. 
    
Жду работу на повторную проверку.

<div class="alert alert-success">
<b> Комментарий ревьюера v3<a class="tocSkip"> </b>

Антон, спасибо за устранение замечаний. Теперь проект суперский. 
Единственный важный нюанс, который можно упростить, и где я хотел бы заострить твоё внимание - категоризация по доходу и qcut. В проекте в жёлтой ячейке я привёл свою реализацию, полагаю, она тебе может пригодиться в будущем.